
.schedule {
    font-weight: normal;
}

    .schedule.header {
        line-height: 14pt;
        font-size: 13pt;
    }

    .schedule.item {
        line-height: 10pt;
        font-size: 9pt;
    }

    .schedule.alert {
        margin: 0px;
        padding: 0px;
        font-size: 11pt;
        line-height: 12pt;
        color: red;
    }

.spare {
    color: red;
}

svg {
    stroke-width: 5;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 92mm;
    width: 50mm;
}

.cal-icon {
    position: static;
    width: 1em;
    height: 1em;
    stroke-width: 2;
    vertical-align: -0.15em;
}

.content {
    position: relative;
    z-index: 1;
}
